/* Page font */
p {
  font-family: 'Inter', sans-serif;
}
  
/* Text content styling */
.introduction {
  display: flex;
  justify-content: start;
  font-size: 1.2em;
  font-weight: 300;
  color: #dadada;
  max-width: 42em;
  margin-left: auto;
  margin-right: auto;
}
  
/* Setup image styling */
#About-me-image {
  display: flex;
  margin-left: 2rem;
  border-radius: 0.6vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  max-width: 50.2em;
  margin-top: 3em;
  box-shadow: 10px 10px 20px 5px rgb(14, 14, 14);
}

/* Setup image hover styling */
#About-me-image:hover {
  transform: scale(1.02);
  transition: 0.4s ease;
}
 
/* ----------About me media query START---------- */ 

@media all and (max-width: 980px) {
  #About-me-image {
    max-width: 100%;
  }
  .about-me-posts p {
    max-width: 100%;
  }
}

@media all and (max-width: 810px) {
  #about-me-image {
    border-radius: 8px;
  } 
}

@media all and (max-width: 540px) {
  .introduction {
    font-size: 1em;
  }
}

@media all and (max-width: 300px) {
  .introduction {
    font-size: 0.8em;
  }
}

/* ----------About me media query END---------- */