
  
  /* Text content styling */
  .about-me-posts p {
    display: block;
    font-size: 1.2em;
    color: #f2f2f2;
    max-width: 42em;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Image styling */
  #About-me-image {
    display: flex;
    margin-left: 2rem;
    border-radius: 0.8vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    max-width: 50.2em;
    margin-top: 3em;
    box-shadow: 10px 10px 20px 5px rgb(14, 14, 14);
  }

  /* Image hover styling */
  #About-me-image:hover {
    transform: scale(1.02);
    transition: 0.4s ease;
  }


  
  /* ----------About me media query START---------- */ 


@media all and (max-width: 980px) {
  #About-me-image {
    max-width: 100%;
  }
  .about-me-posts p {
    max-width: 100%;
  }
}

@media all and (max-width: 810px) {
  #about-me-image {
    border-radius: 8px;
  } 
}

@media all and (max-width: 400px) {
  .about-me-posts p {
    display: block;
    font-size: 0.9em;
  }
}


  /* ----------About me media query END---------- */