/* Page font */
p {
  font-family: 'Inter', sans-serif;
}

/* Text content styling */
.introduction {
  display: flex;
  justify-content: start;
  font-size: 1.2em;
  font-weight: 300;
  color: #dadada;
  max-width: 42em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5px;
}
  
/* Setup image styling */
#About-me-image {
  display: flex;
  margin-left: 2rem;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  max-width: 50.2em;
  margin-top: 0.5em;
  box-shadow: 10px 10px 20px 5px rgb(14, 14, 14);
}

.projects-link p{
  font-family: 'Karla', sans-serif;
  font-size: 1.4em;
  font-weight: 700; 
  color: #55d6aa;
  display: inline-block;
  position: relative;
  text-transform: uppercase; 
}

.projects-link a:visited, a:link, a:active{
  text-decoration: none;
}

.projects-link p:hover{
  color: #55d6aa;
}

.projects-link p::before{
  content: '';
  display: block;
  height: 4px;
  width: 100%;
  background-color: #55d6aa;;
  position: absolute;
  top: 120%;
  width: 0%;
  transition: all ease-in-out 250ms;
}
.projects-link p:hover::before {
  width: 100%;
}


/* ----------About me media query START---------- */ 

@media all and (max-width: 980px) {
  #About-me-image {
    max-width: 100%;
  }
  .about-me-posts p {
    max-width: 100%;
  }
}

@media all and (max-width: 810px) {
  #about-me-image {
    border-radius: 8px;
  } 
}

@media all and (max-width: 540px) {
  .introduction {
    font-size: 1em;
  }
  .projects-link p{
    font-size: 1.1em;
  }
  #About-me-image {
    border-radius: 8px;
  }
}

@media all and (max-width: 300px) {
  .introduction {
    font-size: 0.8em;
  }
  .projects-link p{
    font-size: 0.9em;
  }
  #About-me-image {
    border-radius: 4px;
  }
}

/* ----------About me media query END---------- */