* {
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    text-decoration: none!important;
    color: #181818;
    
  }
  /* Scrollbar styling */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #333;
  }
  
  /* Welcome text */
  .thank-you-card {
    /* max-width: 50em; */
    margin: auto; 
    margin-top: 200px;
    padding: 50px;
    padding-top: 4px;
    background-color: #f2f2f2;
    height: 240px; 
    width: 600px; 
    border-radius: 6px;
  }
  
  /* h2 heading style */
  div.thank-you-container {
    display: block;
    font-size: 1.6em;
    font-weight: 700;
    color: #181818;
    max-width: 36em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    text-decoration: none!important;
}
    
  
  /* First h2 line margin */
  .thank-you-text {
    margin-bottom: 1rem;
  } 

  .successful-text {
    display: flex;
    justify-content: start;
    font-size: 1.2em;
    font-weight: 300;
    color: #dadada;
    max-width: 42em;
    margin-left: auto;
    margin-right: auto;
    color: #181818;
    text-decoration: none!important;
  }

  .back-to-site {
    font-weight: 900;
    color: #55acd6;
}

@media all and (max-width: 600px) {
  .thank-you-card {
    max-width: 90%; 
    margin-top: 160px;
  }
}

@media all and (max-width: 440px) {
  .successful-text{
    font-size: 1em;
  }
  div.thank-you-container{
    font-size: 1.4em;
  }
  .thank-you-card {
    padding: 24px;
    height: 200px;
  }
  .thank-you-text {
    margin-top: -38px;
  }
  /* .back-to-site {
    font-size: 0.8em;
  } */
}