/* Page font */
.project-posts {
  font-family: 'Inter', sans-serif;
}

/* Nav bar font weight */
.nav-bar .nav-bar-projects {
  font-weight: 800;
}
.nav-bar .nav-bar-home {
  font-weight: 600;
}

/* Smooth scroll effect */
html {
  scroll-behavior: smooth;
}

/* Content positioning */
.content {
  max-width: 79em;
  margin: auto;
  margin-top: 5%; 
}

/* Project images styling */
.project-images {
  display: flex;
  margin: auto;
  margin-top: 2em;
  margin-bottom: -6em;
  justify-content: center;
  max-width: 1200px;
  cursor: pointer;
} 
.project-images img {
  width: 90%;
  border-radius: 12px;
  margin: 20px;
  box-shadow: 10px 10px 20px 5px rgb(14, 14, 14);
}

/* Project title styling */
.project-posts h1 {
  display: flex;
  justify-content: start;
  padding-left: 3.3rem;
  margin-top: 6rem;
  font-size: 1.8em;
  font-weight: 700; 
  color: #dadada;
}
/* Project sub-title styling */
.project-posts h2 {
  display: flex;
  justify-content: start;
  padding-left: 3.3rem;
  font-size: 1.4em;
  font-weight: 600;
  color: #dadada;
}

/* Project description styling */
.project-posts p {
  display: flex;
  justify-content: start;
  padding-left: 3.3rem;
  font-size: 1.2em;
  font-weight: 300;
  color: #dadada;
  margin-right: 50px;
  max-width: 70%;
}

/* Individual project image styling */
#project-image {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 50px;
  width: 400px;
  border-radius: 8px;
}

/* Project image hover */
.python-app-desktop:hover {
transform: scale(1.01);
transition: 0.2s ease;
}
.api-image-desktop:hover {
  transform: scale(1.01);
  transition: 0.2s ease;
}
.python-app-mobile img:hover {
  transform: scale(1.01);
  transition: 0.2s ease;
}
.api-image-mobile img:hover {
  transform: scale(1.01);
  transition: 0.2s ease;
}

/* 'Back to top' button styling */
.back-to-top {
  font-size: 1.1em;
  text-decoration: none;
  padding: 4px 16px;
  color: #2d2d2d;
  background: #55d6aa;
  border-radius: 4px;
  margin-left: 3.3rem;
  margin-bottom: 5vw;
}
.back-to-top:hover {
  color: #2d2d2d;
  background-color: #dadada;
  transition: 0.4s ease;
}

/* Github button styling */
.github-buttons {
  font-size: 1.1em;
  text-decoration: none;
  padding: 4px 16px;
  color: #2d2d2d;
  background: #55acd6;
  border-radius: 4px;
  margin-left: 3.3rem;
  margin-bottom: 5vw;
}

/* 'Back to top' button hover styling */
.github-buttons:hover {
  color: #2d2d2d;
  background-color: #dadada;
  transition: 0.4s ease;
}

/* Mobile images */
.project-images-mobile img {
  display: none;  
}

/* Footer margin */
footer {
  margin-top: 100px;
}


/* ----------Media query START---------- */

@media all and (max-width: 1070px) {
  .project-images img {
    display: none;
  }
  .project-images-mobile img {
    display: flex;
    margin: auto;
    margin-top: 6em;
    justify-content: center;
    width: 95%;
    cursor: pointer;  
    border-radius: 8px;
    box-shadow: 10px 10px 20px 5px rgb(14, 14, 14);
  }
  .api-image-mobile img{
    margin-top: 1em;
  }
  .project-posts h1 {
    padding-left: 1.5rem;
    margin-top: 1rem; 
    margin-bottom: -12px; 
  }
  .project-posts h2 {
    padding-left: 1.5rem;  
  }
  .project-posts p {
    padding-left: 1.5rem; 
    max-width: 100%; 
  } 
  #project-image {
    max-width: 90%;
    margin-left: 1.5rem
  }
  .github-buttons {
    margin-left: 1.5rem;
  } 
  .back-to-top {
    margin-left: 1.5rem;
  }
}

@media all and (max-width: 1025px) {
  #blog-image {
    width: 100%;
  }
  .blog-posts p {
    padding: 5px;
  }
}

@media all and (max-width: 800px) {
  .project-posts h1 {
    margin-top: 1rem;
    font-size: 1.6em;
  }
  .project-posts h2 {
    font-size: 1.3em;
  }
}

@media all and (max-width: 600px) {
  .project-posts h1 {
    font-size: 1.4rem;
  }
  .project-posts h2 {
    font-size: 1.1rem;
  }
  .project-posts p {
    font-size: 1em;   
  } 
  .github-buttons {
    font-size: 0.9em;
    padding: 4px 10px;
  }
  .back-to-top {
    font-size: 0.9em;
    padding: 4px 10px;
  }
  .project-images-mobile img {
    border-radius: 4px;
  }
}

@media all and (max-width: 440px) {
  #project-image {
    margin-right: 1.5rem
  }
}

@media all and (max-width: 300px) {
 .project-posts h1 {
    font-size: 1em;
  }
  .project-posts h2 {
    font-size: 0.89rem;
  }
  .project-posts p {
    font-size: 0.8em;
  }
  .github-buttons {
    font-size: 0.6em;
    padding: 4px 10px;
  }
  .back-to-top {
    font-size: 0.6em;
    padding: 4px 10px;
  }
}

/* ----------Blog media query END---------- */