/* Page font */
.project-posts {
  font-family: 'Inter', sans-serif;
}

.first-projects {
  display: flex;
  flex-direction: row;
  margin-left: -4em !important;
}

h1 {
  display: inline-block !important;
}

/* Nav bar font weight */
.nav-bar .nav-bar-projects {
  font-weight: 800;
}
.nav-bar .nav-bar-home {
  font-weight: 600;
}

/* Content positioning */
.content {
  max-width: 79em;
  margin: auto;
  margin-top: 10em; 
}

/* Project title styling */
.project-posts h1 {
  display: flex;
  justify-content: start;
  padding-left: 3.3rem;
  margin-top: 2rem;
  font-size: 1.8em;
  font-weight: 700; 
  color: #dadada;
}


/* Project description styling */
.project-posts p {
  display: flex;
  padding-left: 3.3rem;
  font-size: 1.2em;
  font-weight: 300;
  color: #dadada;
  margin-right: 50px;
  max-width: 90%;
  text-align: justify;
}



/* Individual project image styling */
#project-image {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px;
  width: 500px;
  border-radius: 8px;
}



/* Github button styling */
.github-buttons {
  font-size: 1.1em;
  font-weight: 500;
  font-family: inherit;
  text-decoration: none;
  padding: 0.5em 1em 0.4em 1em;
  color: #2d2d2d;
  background: #55d6aa;
  border-radius: 2em;
  margin-left: 3.3rem;
  cursor: pointer;
  border: none;
}

/* 'Back to top' button hover styling */
.github-buttons:hover {
  color: #55d6aa;
  background-color: #293e37;
  transition: 150ms ease;
}

/* Footer margin */
footer {
  margin-top: 100px;
}

.project-container {
  padding-bottom: 2em;
  border-radius: 0.5em;
  margin: 3em;
  background-color: rgb(54, 54, 54);
}

.project-container:hover {
  background-color: rgb(73, 73, 73);

  transition: ease-out 150ms;
  cursor: pointer;
}


.click-container {
  text-decoration: none;
}


.tech {
  display: flex;
  margin-left: 2.5em ;
  
}

.tech1, .tech2, .tech3 {
  background-color: #293e37;
  padding: 0.4em 1.2em 0.4em 1.2em !important;
  margin: 0.5em !important;
  border-radius: 80px;
  color: #55d6aa !important;
  font-weight: 500 !important;
}



/* ----------Media query START---------- */



/* ----------Blog media query END---------- */