* {
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
  
}
/* Scrollbar styling */
::-webkit-scrollbar {
width: 10px;
}
::-webkit-scrollbar-thumb {
background-color: #555;
}

/* All content in the body */
body {
    margin: 0;
    background: #222;
    font-family: 'Roboto Condensed', sans-serif;
    overflow: scroll
}


/* Nav container */
.container {
  max-width: 80%;
  margin: auto;   
}

.welcome-content {
  max-width: 50em;
  margin: auto;   
}

/* Nav header */
header {
    background: #55d6aa;
    padding: 50px 50px 20px 50px;
    animation: nav-load var(--display-load) ease-out; ;
}
header::after {
    content: '';
    display: table;
    clear: both;  
}

/* Logo styling */
.logo { 
    float: left;
    font-weight: 600;
    margin-left: 12px;
    margin-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: -20px;
    font-size: 1.5em; 
    position: relative;
    font-family: 'Karla', sans-serif; 
}

/* Nav position */
nav {
    float: right;
    position: relative; 
}
.nav-bar li {
  display: inline-block;
  margin-left: 12px;
  margin-right: 10px;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 1.5em; 
  position: relative;
  font-family: 'Karla', sans-serif;
}

/* Nav style */
nav a {
  color: #222;
  text-decoration: none;
  text-transform: uppercase; 
} 

 /* Logo style */
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* Nav hover */
.nav-bar a::before{
    content: '';
    display:block;
    height:4px;
    width: 100%;
    background-color: #222;
    position: absolute;
    top: 80%;
    width: 0%;
    transition: all ease-in-out 250ms;
}
.nav-bar a:hover::before {
    width: 100%;
}

div.icons-nav {
  margin-top: 16px;
  font-size: 1.1em;
  margin-left: -12px;
  display: flex;
  justify-content: space-evenly;
  max-width: 70%
  
}

/* Heading style */
div.welcome-text {
  display: block;
  font-size: 1.6em;
  color: #f2f2f2;
  max-width: 36em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  font-weight: 800;
  }

.first-line {
  margin-bottom: -1.6rem;
} 

/* ----------Media query START---------- */

@media all and (max-width: 1120px) {
.nav-bar li {
  display: table;  
  margin-left: 12px;
  margin-right: -2em;
  margin-bottom: -10px;
  padding-top: 1px;
  padding-bottom: 1px;
  position: relative;
}
header {
  padding: 10px 50px 30px 50px;
}
.logo {
  margin-left: -2em;
  margin-right: 4px;
  margin-top: -0.5em;
  font-size: 1.2em;
}
}

@media all and (max-width: 870px) {
  .welcome-content {
    max-width: 90%;
}
}
@media all and (max-width: 650px) {
/* .container {
  width: 100%;
} */
.home-images-mobile img {
  border-radius: 16px;
}
.logo {
  font-size: 1em;
  margin-left: -2em;
}
.nav-bar li {
  font-size: 1.2em;
 
}
header {
  padding: 5px 20px 10px 20px;
}
}


@media all and (max-width: 540px){
.logo {
  font-size: 0.9em;  
}
.nav-bar li {
  font-size: 1.1em;
}
div.welcome-text {
  font-size: 1.2em;
}
.first-line {
  margin-bottom: -1.3rem;
} 
}

@media all and (max-width: 420px){
.logo {
  font-size: 0.8em;
 }
 .nav-bar li {
  font-size: 1em;
}

}

@media all and (max-width: 365px){
 
  .first-line {
    margin-bottom: -1rem;
  } 
  }

  @media all and (max-width: 250px){
    .logo {
      font-size: 0.7em;
      margin-left: -2em;
     }
     .nav-bar li {
      font-size: 0.8em;
      margin-right: -2em;
    }
  }

/* ----------Media query END---------- */