* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

header {
background-color: #F2F2EF;

}

body{
background-color: #F2F2EF;
}

/* logo styling */

.logo {
background-color: #DED3A6;
width: 120px;
margin-bottom: 30px;
margin-top: 30px;
margin-left: 30px;
margin-right: 0px;
opacity: .75;
border-radius: 50%;
}

/* logo hover styling */

.logo:hover {
  opacity: .9;
}

/* .nav-items placement */

.nav-items {
  display: flex;
  column-gap: 5px;
  list-style: none;
  float: right;
  padding: 32px;
  max-width: fit-content; 
}

/* .nav-items text styling */

.nav-items a {
  text-decoration: none; 
  font-size: 1.5rem;
  color: #F2F2EF;
  border: none;
  background-color: #759242;
  padding: 4px 16px;
  border: solid #759242 5px;
  border-radius: 8px;
} 

/* .nav-items text hover styling */

.nav-items :hover {
  color: #759242;
  background-color: #F2F2EF;
  /* text-decoration: underline; */
  animation-duration: 2s;
}

/* Page title styling */
 
h1 {
  display: flex;
  justify-content: center;
  margin: 40px 40px;
  font-size: 200%;
  color: #454037;
}