* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}

header {
background-color: #DED3A6;

}

body{
background-color: #F2F2EF;

}


.logo {
background-color: #DED3A6;
width: 120px;
margin-bottom: 30px;
margin-top: 30px;
margin-left: 30px;
margin-right: 0px;
opacity: .8;
border-radius: 10%;


}

.logo:hover {
  opacity: 1;
}



.menu-items {
  display: flex;
  column-gap: 30px;
  list-style: none;
  font-size: 1.5rem;
  float: right;
  padding: 70px;
  max-width: fit-content;
  
  
}

.menu-items a {
  text-decoration: none;
  font-weight: 600; 
  color: rgb(16, 16, 18);
} 

p {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 300%;
}

@media all and (max-width: 640px) {
.menu-items {
display: grid;
padding: 50px;
margin-right: 10%;
margin-top: -10px;
row-gap: 10px;
}

@media all and (max-width: 399px) {
  .menu-items {
  display: grid;
  padding: 15px;
  margin-right: 10%;
  margin-top: 25px;
  row-gap: 10px;
  }
  
@media all and (max-width: 321px) {
    .menu-items {
    display: grid;
    padding: 15px;
    margin-right: 5%;
    margin-top: 30px;
    row-gap: 10px;
    font-size: 14px;
    }
  
@media all and (max-width: 399px) {
.logo {
  width: 80px;
  margin-left: 10%;
  }
}