* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

header {
background-color: #DED3A6;
}

body{
background-color: #F2F2EF;
}

/* logo styling */

.logo {
background-color: #DED3A6;
width: 120px;
margin-bottom: 30px;
margin-top: 30px;
margin-left: 30px;
margin-right: 0px;
opacity: .75;
border-radius: 50%;
}

/* logo hover styling */

.logo:hover {
  opacity: .9;
}

/* .nav-items placement */

.nav-items {
  display: flex;
  column-gap: 30px;
  list-style: none;
  font-size: 1.5rem;
  float: right;
  padding: 70px;
  max-width: fit-content;
}

/* .nav-items text styling */

.nav-items a {
  text-decoration: none;
  font-weight: 600; 
  color: #4C4C4D;
} 

/* .nav-items text hover styling */

.nav-items :hover {
  color: #28282A;
  text-decoration: underline;
  animation-duration: 2s;
}

/* Page title styling */
 
h1 {
  display: flex;
  justify-content: center;
  margin: 40px 40px;
  font-size: 200%;
  color: #4C4C4D;
}




/* nav-items and logo media query styling */

@media all and (max-width: 640px) {
  .nav-items {
    display: grid;
    padding: 50px;
    margin-right: 10%;
    margin-top: -20px;
    row-gap: 10px;
    }
    h1 {
      font-size: 175%;
    }
  }

@media all and (max-width: 399px) {
  .nav-items {
    display: grid;
    padding: 15px;
    margin-right: 22%;
    margin-top: 10px;
    row-gap: 10px;
    font-size: 18px;
  }
  h1 {
    font-size: 150%; 
  }
  .logo {
    width: 80px;
    margin-left: 10%;
  }
}

@media all and (max-width: 321px) {
  .nav-items {
    display: grid;
    padding: 15px;
    margin-right: 22%;
    margin-top: 20px;
    row-gap: 10px;
    font-size: 14px;
  }
  h1 {
   font-size: 125%;
  }
}
  
@media all and (max-width: 280px) {
  .nav-items {
    display: grid;
    padding: 15px;
    margin-right: 22%;
    margin-top: 20px;
    row-gap: 10px;
    font-size: 12px;
  }
  h1 {
   font-size: 100%;
  }
  .logo {
    width: 60px;
    margin-left: 10%;
  }
}

@media all and (max-width: 220px) {
  .nav-items {
    display: grid;
    padding: 5px;
    margin-right: 15%;
    margin-top: 25px;
    row-gap: 5px;
    font-size: 12px;
  }
  h1 {
    font-size: 90%;
  }
}